$color-background: #0c0b08;
$color-white: #ffffff;
$color-accent: #DCCA87;


$accent-bacground: #0C0C0C;
$border-color: #DCCA8733;

$input-border-color: #F5EFDB;

$color-grey-1: #aaaaaa;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Cormorant Upright', serif;
$tertiary-font: 'Bestermind', serif ;

