.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0.8rem 3.2rem;
  color: $color-background;
  background-color: $color-accent;
  white-space: nowrap;
  transition: all 200ms ease-in-out;
}


.btn:hover,
.btn:active {

  transform: scale(1.1);
  background-color: transparent;
  color: $color-accent;
  position: relative;
  transition: all 300ms ease;


}

.btn:active {
  transform: scale(.9);
}

.btn::after {
  backface-visibility: hidden;
  border: .5px solid transparent;
  bottom: 0;
  content: "";
  display: block;
  position: relative;
  transition: all 200ms ease-in-out;
  width: 0;
}

.btn:hover::after {
  border-color: $color-accent;

  transition: width 200ms ease-in-out;

  width: 100%;
}