*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $color-background;
  box-sizing: border-box;
  line-height: 1.6em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
