*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-background;
  box-sizing: border-box;
  line-height: 1.6em;

  &:has(> #navigation__button:checked) {
    overflow: hidden;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
