html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    // 1rem = 9px, (9/16) * 100
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // 1rem = 8px, (8/16) * 100
    font-size: 50%;
  }

  @include respond(big-desktop) {
    // 1rem = 12px, (12/16) * 100
    font-size: 75%;
  }
}

body {
  font-family: $primary-font;
}

.heading-primary {
  font-size: 7rem;
  font-family: $secondary-font;
  font-weight: 700;
  color: $color-accent;
  text-transform: capitalize;
  line-height: 130%;
  letter-spacing: 0.04em;
  margin-bottom: 3.2rem;

  @include respond(phone) {
    line-height: 110%;
  }
}

.heading-secondary {
  font-size: 6rem;
  font-family: $secondary-font;
  font-weight: 700;
  color: $color-accent;
  text-transform: capitalize;
  line-height: 1em;
  letter-spacing: 0.03em;
  margin-bottom: 1rem;

  @include respond(phone) {
    line-height: 110%;
  }
}

.heading-bold {
  font-family: $secondary-font;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: $color-white;
}

.paragraph {
  font-size: 1.4rem;
  line-height: 175%;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: $color-grey-1;
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 4%;
  font-family: $secondary-font;
}

.header-tertiary {
  font-size: 6.4rem;
  font-family: $secondary-font;
  font-weight: 600;
  color: $color-accent;
  text-transform: capitalize;
  line-height: 1em;
  letter-spacing: 4%;

}

.sm-text {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 3%;
  font-family: $secondary-font;

}