section.about {

  background-image: url('/assets/images/bg-1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

  .backdrop {
    height: 50%;
    @include absCenter;

    @include respond(big-phone) {
      opacity: 0.3;
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include padCenter;

    @include respond(big-phone) {
      flex-direction: column;
      text-align: center;
    }

    .textbox {
      &.right {
        text-align: right;
      }

      @include respond(big-phone) {
        text-align: center;
        margin-bottom: 15rem;

        &:last-child {
          margin-bottom: 7.5rem;
        }

        &.right {
          text-align: center;
        }
      }

      svg {
        color: $color-accent;
        font-size: 2rem;
        margin-bottom: 3.2rem;

        @include respond(big-phone) {
          margin-bottom: 1rem;
        }

        &.left {
          transform: rotate(-180deg);
        }
      }
    }

    .composition {
      margin: 0 8rem;
      height: 80vh;

      @include respond(tab-land) {
        margin: 0 4rem;
      }

      @include respond(big-phone) {
        order: 1;
      }

      img {
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}


.reservation {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    color: $color-white;
    width: 120rem;
    height: 45rem;
    margin: 0 auto;
    background-color: $accent-bacground;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4.8rem 3.2rem;
    border: 1px solid $border-color;
    gap: 6.4rem;

    @include respond(sm-laptop) {
      width: 100rem;
      height: auto;
    }

    @include respond (tab-port) {
      margin: 0 5rem;


    }

    .form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.2rem;

      @include respond (big-phone) {
        grid-template-columns: repeat(1, 1fr);

      }

      width: 100%;

      .input-box {


        .input {
          background-color: transparent;
          padding: 1.6rem;
          width: 100%;
          border: 1px solid $input-border-color;
        }
      }
    }

  }

  position: relative;

  padding: 15.2rem 0 18rem;


  .spoon {
    width: 14.6rem;
    height: 14.6rem;
    position: absolute;

    top: -3rem;
    right: 15.1rem;


    @include respond(sm-laptop) {
      width: 12rem;
      height: 12rem;
      right: 10rem;
    }

    img {
      width: 100%;
    }
  }
}


.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    color: $color-white;
    width: 130rem;
    height: 45rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
  
    flex-direction: column;
    gap: 6.4rem;

    @include respond (big-phone) {
      gap: 4rem;

    }

    @include respond(sm-laptop) {
      width: 100rem;
      height: auto;
    }

    &--main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // justify-items: center;
      gap: 3.2rem;

      @include respond (tab-port) {
        grid-template-columns: repeat(2, 1fr);

        .span {
          grid-column: span 2;
        }

      }

      @include respond (big-phone) {
        grid-template-columns: repeat(1, 1fr);

        .span {
          grid-column: span 1;
        }
      }

      .box {
        padding: 3.2rem 0;
        width: 100%;

        @include respond (tab-port) {
          margin: 0 auto;
          width: 80%;
        }

        @include respond (big-phone) {
          padding: 0 0 3.2rem;

        }

        .menu {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          // gap: 3.2rem;
          margin-bottom: 4rem;

          @include respond (sm-laptop) {
            margin-bottom: 2rem;
          }

          .no-pad-bot {
            margin-bottom: 0;

          }



          position: relative;

          .line {

            width: 11rem;
            margin-top: 5px;
            position: absolute;
            left: 50%;

            @include respond (big-phone) {
              width: 8rem;

            }

            img {
              width: 100%;
            }
          }
        }

      }

      .bg-img {
        width: 100%;

        img {
          width: 100%;
        }

      }
    }

  }

  position: relative;

  padding: 15.2rem 0 18rem;


  .spoon {
    width: 14.6rem;
    height: 14.6rem;
    position: absolute;

    top: -3rem;
    left: 15.1rem;


    @include respond(sm-laptop) {
      width: 12rem;
      height: 12rem;
      right: 10rem;
    }

    img {
      width: 100%;
    }
  }
}


.footer{
  padding-top: 11.3rem;
  @include respond (sm-laptop){
    padding: 9rem;
  }

}