section.about {

  background-image: url('/assets/images/bg-1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

  .backdrop {
    height: 50%;
    @include absCenter;

    @include respond(big-phone) {
      opacity: 0.3;
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include padCenter;

    @include respond(big-phone) {
      flex-direction: column;
      text-align: center;
    }

    .textbox {
      &.right {
        text-align: right;
      }

      @include respond(big-phone) {
        text-align: center;
        margin-bottom: 15rem;

        &:last-child {
          margin-bottom: 7.5rem;
        }

        &.right {
          text-align: center;
        }
      }

      svg {
        color: $color-accent;
        font-size: 2rem;
        margin-bottom: 3.2rem;

        @include respond(big-phone) {
          margin-bottom: 1rem;
        }

        &.left {
          transform: rotate(-180deg);
        }
      }
    }

    .composition {
      margin: 0 8rem;
      height: 80vh;

      @include respond(tab-land) {
        margin: 0 4rem;
      }

      @include respond(big-phone) {
        order: 1;
      }

      img {
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}


.reservation {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    color: $color-white;
    width: 120rem;
    height: 45rem;
    margin: 0 auto;
    background-color: $accent-bacground;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4.8rem 3.2rem;
    border: 1px solid $border-color;
    gap: 6.4rem;

    @include respond(sm-laptop) {
      width: 100rem;
      height: auto;
    }

    @include respond (tab-port) {
      margin: 0 5rem;


    }

    .form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.2rem;

      @include respond (big-phone) {
        grid-template-columns: repeat(1, 1fr);

      }

      width: 100%;

      .input-box {


        .input {
          background-color: transparent;
          padding: 1.6rem;
          width: 100%;
          border: 1px solid $input-border-color;
        }
      }
    }

  }

  position: relative;

  padding: 15.2rem 0 18rem;


  .spoon {
    width: 14.6rem;
    height: 14.6rem;
    position: absolute;

    top: -3rem;
    right: 15.1rem;


    @include respond(sm-laptop) {
      width: 12rem;
      height: 12rem;
      right: 10rem;
    }

    img {
      width: 100%;
    }
  }
}


.section-4 {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    color: $color-white;
    width: 130rem;
    min-height: 45rem;
    margin: 0 auto;
    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 6.4rem;

    @include respond (big-phone) {
      gap: 4rem;

    }

    @include respond(sm-laptop) {
      width: 100rem;
      height: auto;
    }

    &--main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // justify-items: center;
      gap: 3.2rem;

      @include respond (tab-port) {
        grid-template-columns: repeat(2, 1fr);

        .span {
          grid-column: span 2;
        }

      }

      @include respond (big-phone) {
        grid-template-columns: repeat(1, 1fr);

        .span {
          grid-column: span 1;
        }
      }

      .box {
        padding: 3.2rem 0;
        width: 100%;

        @include respond (tab-port) {
          margin: 0 auto;
          width: 80%;
        }

        @include respond (big-phone) {
          padding: 0 0 3.2rem;

        }

        .menu {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          // gap: 3.2rem;
          margin-bottom: 4rem;

          @include respond (sm-laptop) {
            margin-bottom: 2rem;
          }

          .no-pad-bot {
            margin-bottom: 0;

          }



          position: relative;

          .line {

            width: 9rem;
            margin-top: 5px;
            position: absolute;
            left: 55%;


            @include respond (big-phone) {
              width: 8rem;
            }

            img {
              width: 100%;
            }
          }
        }

      }

      .bg-img {
        width: 100%;

        img {
          width: 100%;
        }

      }
    }

  }

  position: relative;

  margin: 15.2rem 0 18rem;


  .spoon {
    width: 14.6rem;
    height: 14.6rem;
    position: absolute;

    top: -3rem;
    left: 15.1rem;


    @include respond(sm-laptop) {
      width: 12rem;
      height: 12rem;
      right: 10rem;
    }

    img {
      width: 100%;
    }
  }
}

.section__video {
  width: 100vw;
  position: relative;

  &--bg-image {
    width: 100%;
    object-position: center;
    object-fit: contain;
    display: block;

    img {
      width: 100%;
    }
  }

  &--play-btn {
    height: 12rem;
    width: 12rem;

    @include respond (sm-laptop) {
      height: 8rem;
      width: 8rem;
    }

    @include absCenter;
    // top: 33.2rem;

    img {
      width: 100%;
    }
  }

  .spoon {
    width: 14.6rem;
    height: 14.6rem;
    position: absolute;

    top: 14rem;
    left: 19rem;


    @include respond(sm-laptop) {
      width: 12rem;
      height: 12rem;
      left: 10rem;
      top: 10rem;
    }

    img {
      width: 100%;
    }
  }
}


.section__awards {
  width: 100vw;
  height: auto;
  background-image: url('/assets/images/bg-1.jpg');

  padding: 12.8rem 0;
  overflow-x: hidden;

  &--content {
    height: 69rem;
    width: 130rem;
    display: grid;
    grid-template-columns: 1.3fr .7fr;
    margin: 0 auto;
    align-items: center;
    gap: 11.1rem;

    @include respond (sm-laptop) {
      width: 120rem;
      height: 65rem;
      gap: 9rem;
    }

    @include respond (tab-land) {
      width: 90rem;
      gap: 5rem;

    }

    @include respond (tab-port) {
      width: 90rem;
      margin: 0 auto;
      grid-template-columns: 1fr;

      height: auto;
    }




    .content__textbox {
      // width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      @include respond (big-phone) {
        align-items: center;
      }

      &--main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3.2rem;
        row-gap: 6.4rem;
        margin: 6.4rem auto 0;

        @include respond (big-phone) {
          column-gap: 1.2rem;
          row-gap: 3.4rem;
          margin: 3.4rem auto 0;
          grid-template-columns: repeat(1, 1fr);
          margin: 0 !important;
        }

        .box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 3.2rem;

          @include respond (big-phone) {
            flex-direction: column;
          }

          .text {
            flex: 1;

            @include respond (big-phone) {
              text-align: center;
            }

            .grid-text {
              margin-bottom: .8rem;
            }
          }

          figure.awards {
            width: 8rem;
            height: 8rem;

            img {
              width: 100%;
            }
          }

        }

      }

    }

    figure.composition {
      width: 100%;
      height: 69rem;
      object-fit: contain;

      @include respond (sm-laptop) {
        height: 55rem;
      }

      @include respond (big-phone) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        height: 100%;
      }
    }
  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 11.3rem;


  @include respond (sm-laptop) {
    padding-top: 9rem;
  }

  @include respond (phone) {
    padding: 9rem 3rem;
  }

  &__form {

    padding: 6.4rem 25.4rem;
    border: 1px solid $border-color;
    background-color: $accent-bacground;


    .text-box {
      color: $color-white;
      margin-bottom: 6.4rem;

      @include respond (tab-land) {
        h2 {
          text-align: center;

        }


      }

      p {
        margin-top: 2.4rem;
        text-align: center;
      }
    }

    @include respond (sm-laptop) {
      padding: 4.8rem 10rem;

    }

    @include respond (tab-land) {
      padding: 4.8rem 5rem;


    }

    @include respond (tab-port) {
      padding: 4.8rem 5rem;

    }

    @include respond (big-desktop) {
      padding: 4.8rem 25rem;

    }

    @include respond (phone) {
      padding: 4.8rem 2rem;

    }

    .form {
      display: flex;
      justify-content: center;
      align-items: center;


      @include respond (phone) {
        flex-direction: column;
        gap: 4rem;


      }

      &--input {
        background-color: transparent;
        border: 1px solid $input-border-color;
        padding: 1.6rem;
        flex: 1;
        margin-right: 3.2rem;

        @include respond (phone) {

          margin-right: 0;


        }

        &::placeholder {
          color: $color-grey-1;
          font-family: $secondary-font;
        }

      }


    }

    margin-bottom: -22rem;
    z-index: 2;

    @include respond (sm-laptop) {
      margin-bottom: -20em;


    }

  }

  position: relative;

  .spoon {
    width: 14.6rem;
    height: 14.6rem;
    position: absolute;

    top: -6rem;
    left: 10.1rem;


    @include respond(sm-laptop) {
      width: 12rem;
      height: 12rem;
      top: -5rem;
      left: 6.1rem;
    }
  }

  &__main {
    background-image: url('/assets/images/bg-1.jpg');
    background-size: cover;
    background-position: center;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: flex-end;
    padding-bottom: 14rem;

    @include respond (sm-laptop) {
      padding-bottom: 5rem;




    }


    &--content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: auto 0 6.4rem;



      .box {
        color: $color-white;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .span-1 {
          margin-bottom: .8rem;
        }
      }

      .box-2 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
          margin-bottom: 3.2rem;
          font-size: 6.4rem;
          text-align: center;
        }

        .icon {
          margin: 1.6rem 0;
          color: $color-accent;
        }

        .social--icons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.6rem;

        }



      }

    }


    .copyright {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}