section.about {
  background-image: url('/assets/images/bg-1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 90vh;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .backdrop {
    height: 50%;
    @include absCenter;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include padCenter;

    .textbox {
      &.right {
        text-align: right;
      }

      svg {
        color: $color-accent;
        font-size: 2rem;
        margin-bottom: 3.2rem;

        &.left {
          transform: rotate(-180deg);
        }
      }
    }

    .composition {
      margin: 0 8rem;
      height: 80vh;

      img {
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}


.reservation {
  &__content {
    color: $color-white;
    width: 120rem;
    height: 45rem;
    margin: 0 auto;
    background-color: $accent-bacground;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4.8rem 3.2rem;
    border: 1px solid $border-color;


  }

  margin: 15.2rem 0 18rem;
}