.header {
  padding: 5rem 12rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
  }

  &__main {
    &--wrapper {
      display: flex;
      align-items: center;

      .textbox {
        flex: 1;
        padding-right: 18rem;
      }

      .composition {
        flex: 1;

        img {
          width: 100%;
        }
      }
    }
  }

  &__scroll {
  }
}
