.header {
  padding: 5rem 0;
  height: 100vh;
  @include padCenter;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      display: inline-block;
      transform: rotate(270deg);
      margin-top: 6rem;

      a {
        color: $color-white;
      }
    }
  }

  &__main {
    &--wrapper {
      display: flex;
      align-items: center;

      @include respond(big-phone) {
        flex-direction: column;
      }

      .textbox {
        flex: 1;
        padding-right: 18rem;

        @include respond(tab-land) {
          padding-right: 7rem;
        }

        @include respond(big-phone) {
          padding-right: 0;
        }

        svg {
          color: $color-accent;
          font-size: 2.5rem;
          margin-top: 0.7rem;
        }
      }

      .composition {
        flex: 1;

        @include respond(tab-port) {
          flex: 0.8;
        }

        img {
          width: 100%;

          @include respond(big-phone) {
            height: 50vh;
            object-fit: contain;
          }
        }
      }
    }

    &--pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 2rem;
        color: $color-white;
        font-family: $secondary-font;
        display: inline-block;

        &.hyphen {
          background-color: $color-accent;
          height: 1.5px;
          width: 1.6rem;
          margin-top: 0.5rem;
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  &__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &::before {
      content: '';
      display: block;
      height: 6rem;
      width: 1px;
      background-color: $color-accent;
      margin-bottom: 1.6rem;
    }

    span {
      color: $color-accent;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 175%;
      letter-spacing: 0.04em;
      font-family: $secondary-font;
    }
  }
}
