.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  @include padCenter;
  position: relative;

  &__logo {
    width: 16rem;

    img {
      width: 100%;
    }
  }

  &__input {
    display: none;
  }

  &__input:checked + &__button {
    position: fixed;
    right: 6vw;

    .navigation__button--icon {
      background-color: transparent;
      height: 0;

      &::before {
        transform: rotate(135deg);
        top: 0;
      }

      &::after {
        transform: rotate(-135deg);
        top: 0;
      }
    }
  }

  &__input:checked ~ &__nav {
    right: 0 !important;
  }
   
  &__button {
    height: 5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    transition: 0.05s ease;
    transition-property: background-color, height;
    display: none;
    position: relative;
    z-index: 10;

    @include respond(tab-land) {
      display: flex;
    }

    &--icon {
      position: relative;
      display: block;
      height: 1.5px;
      width: 100%;
      background-color: $color-white;
      transition: all 0.3s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        display: block;
        height: 1.5px;
        width: 100%;
        background-color: $color-white;
        transition: transform 0.3s;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        top: 1rem;
      }
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    align-items: center;

    @include respond(tab-land) {
      background-color: rgba($color-background, 0.8);
      backdrop-filter: blur(5px);
      position: fixed;
      right: 0;
      top: 0;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      align-items: flex-start;
      width: min(40rem, 95%);
      right: -40rem;
      transition: right 300ms ease;
    }

    li a {
      font-size: 1.4rem;
      line-height: 175%;
      letter-spacing: 0.09em;
      font-weight: 400;
      color: $color-white;
      padding: 1.4rem;
      width: 100%;

      @include respond(tab-land) {
        font-size: 1.8rem;
        padding: 2rem 3rem;
        display: inline-block;
      }
    }

    &--nav {
      &:not(:last-child) {
        flex: 1;

        @include respond(tab-land) {
          &:not(:last-child) {
            flex: unset;
          }
        }
      }
    }

    &--items {
      display: flex;
      justify-content: center;
      align-items: center;
      @include absCenter;
      
      @include respond(tab-land) {
        position: unset;
        top: unset;
        left: unset; 
        transform: unset;
        display: inline-block;
      }
    }

    &--actions {
      display: flex;

      @include respond(tab-land) {
        flex-direction: column;
      }

      li {
        a {
          padding: 1.6rem 3rem;

          @include respond(tab-land) {
            padding: 2rem 3rem;
            display: inline-block;
          }
        }

        &:not(:last-child) {
          border-right: 1px solid $color-white;

          @include respond(tab-land) {
            border-color: transparent;
          }
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}
