.navigation {
  display: flex;
  align-items: center;
  padding: 3rem 12rem;

  &__logo {
    width: 20rem;

    img {
      width: 100%;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    align-items: center;

    li a {
      font-size: 1.6rem;
      line-height: 175%;
      letter-spacing: 0.09em;
      font-weight: 400;
      color: $color-white;
      padding: 1.6rem;
    }

    &--nav {
      &:not(:last-child) {
        flex: 1;
      }
    }

    &--items {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--actions {
      display: flex;

      li {
        a {
          padding: 1.6rem 5rem;
        }

        &:not(:last-child) {
          border-right: 1px solid $color-white;
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}
